body {
  box-sizing: border-box;
  background-color: aqua;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: navy;
  color: navajowhite;
  border-radius: 1rem;
}

.page-title {
  text-align: center;
  font-weight: bold;
}

.view-high-score,
.timer-header {
  display: inline-flex;
}

.intro-paragraph {
  font-size: 20px;
  text-align: center;
}

.start-btn-container {
  padding: 10px;
}

.start-button {
  width: 10rem;
  height: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5px;
}

.question-area {
  display: flex;
  justify-content: center;
}

.question-header {
  display: flex;
  align-items: center;
}
.answer-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 39px;
  margin: 10px;
  line-height: 20.5px;
}
